/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #e9e8e6;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color:pink;
	color: hotpink;
	text-shadow: 2px 2px red;
	border: 2px solid #F66BBC;

}

.resume-main {
	background-color: #FFC7E0;
	border: 2px solid #F66BBC;

}

.resume-aside {
	background-color: #FAD2F5;
	border: 2px solid #F66BBC;

}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	color: hotpink
}

.biography-details li::before {
	color:palevioletred;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

.customclass-red-text {
  color: red;
}
